body{
    background-color: #FD9ED0;
}
#no{
    transition: 0.2s;
    height: 100px;
    width: 150px;
    background-color: red;
    border-radius: 12px;
    border: none;
    color: white;
}
#yes{
    transition: 0.2s;
    height: 100px;
    width: 150px;
    background-color: green;
    border-radius: 12px;
    border: none;
    color: white;
}
h1{
    color: #FFFFFF;
    font-size: 50px;

}


