@font-face {
    font-family: 'hello';
    src: url('https://fonts.gstatic.com/s/jacquard24/v4/jVyO7nf_B2zO5jVpUGU8ljQDf8k.woff2');
}
body{
    background-image: url("view-archeological-underwater-building-ruins.jpg");
    background-size: cover;
    color: white;
}

#start{
    background-color: #29443b;
    color: white;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    font-size: 40px;
    font-family: 'hello';
    border: none;
    margin: 100px;
}
h1{
    font-size: 150px;
    font-family: 'hello';
}
#sec{
    align-content: center;
    text-align: center;
    align-content: center;
    gap: 30px;
}
p{
    color: white;
    font-size: 30px;
}
h2{
    font-size: 60px;
    font-family: 'hello';
}
.last_room{
    color: red;
    font-size: 30px;
    margin-right: 40px;

}
.butt{
    background-color: #29443b;
    height: 100px;
    width: 300px;
    gap: 40px;
    color: white;
    border-radius: 13px;
    box-shadow: none;
    border: none;
    font-size: 40px;
    font-family: 'hello';

}
.butt:hover{
    background-color: #295466;
}