body{
    background-color: #FD9ED0;
}
#no{
    transition: 0.2s;
    height: 200px;
    width: 300px;
    background-color: red;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 80px;
    margin-top: 150px;
}
#yes{
    transition: 0.2s;
    height: 200px;
    width: 300px;
    background-color: green;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 80px;
    margin-top: 150px;
}
h1{
    color: #FFFFFF;
    font-size: 100px;
    text-align: center;
    font-family: ahoj;
}
#container{
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
@font-face {
    font-family: ahoj;
    src: url('https://fonts.gstatic.com/s/lobstertwo/v22/BngOUXZGTXPUvIoyV6yN5-fI1qeh5A.woff2');
}
